<div class="home_contain">
<div class="essay">
            <h3>Essays</h3>
        </div>
        <div class="economics">
            <h3>Economics</h3>
        </div>
        <div class="politics">
            <h3>Politics</h3>
        </div>

        <div class="multimedia">
            <h3>Multimedia</h3>
        </div>

</div>        