<div class="home_contain">
<div class="essay">
        <h3>
            <%= image_tag('essay.png')%>
            Essays
        </h3>
        </div>
       
        <div class="politics">
            <h3><%= image_tag('poli.png')%>
                Politics
        </h3>
        </div>
         <div class="economics">
        <h3>
            <%= image_tag('econ.png')%>
            Economics
        </h3>
        </div>

        <div class="multimedia">
            <h3><span>< /></span> Multimedia</h3>
        </div>

</div>        