<% @page_title = "About" %>

<style>
@media screen and (max-width: 980px) {
  .about h1{
  	font-size: 3.5em;
  }
}
</style>

 <div class="about">
             <h1>About Us</h1>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis reiciendis nihil maiores dolore voluptatibus ad veritatis consequuntur illum fugiat porro neque cupiditate quo, sit repellendus ipsam, asperiores placeat, blanditiis dolor!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur aspernatur rem ipsa officia reiciendis quam reprehenderit perferendis, quo doloribus, quisquam consectetur quibusdam repellendus esse optio molestiae assumenda nesciunt nisi. Modi!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta vitae, sequi alias aperiam quo suscipit, autem quas, odit enim nobis quos! Tenetur odio quo mollitia consequatur a atque! Voluptates, et.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quae vitae voluptas, ipsa molestiae maiores minima unde temporibus quas possimus eaque necessitatibus quisquam inventore expedita ea esse distinctio facilis a.</p>
         </div>